footer {
    max-width: 100%;
    background-color: $colorHeadFooter;
    align-items: center;
    margin-top: 15px;


    ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        justify-content: center;
        margin-bottom: 0;
        padding: 0;



        li {
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-size: 30px;
            padding: 20px;
            margin-left: 20px;
            margin-right: 20px;

            &:hover {
                transform: scale(1.5);
                transition: .5s;

            }
        }

        a {
            color: $colorSubTitulo;
        }
    }

    div.container_sub {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            color: #fff;
            font-size: 30px;
        }

        form {
            width: 100%;
            max-width: 440px;
            display: flex;



            input.campo {
                width: 100%;
                padding: 15px 15px;
                font-size: 15px;
                border: none;
                border-radius: 3px 0px 0px 3px;
                outline: 0px;
            }

            input.btn_sub {
                padding: 15px 15px;
                border: none;
                font-size: 20px;
                border-radius: 0px 3px 3px 0px;
                background: #b1c3d1;
                color: #fff;
                outline: 0px;

                &:hover {
                    background: rgb(61, 61, 61);
                }

            }

        }
    }

    div.copyright {
        text-align: center;
        color: #fff
    }
}